@import "./src/styles/variables";

$table-cell-item-width: 250px;
$table-row-border: 1px solid var(--border);
$table-column-border: 1px solid var(--border);
$table-row-header-height: 55px;
$table-reservation-margin-y: 5%;
$table-reservation-radius: 3px;
$table-reservation-menu-warn-border: 1px solid var(--border);

.reservations__table {
  margin-top: -1px;
  width: 100%;

  .table {
    &__row {
      border-bottom: $table-row-border;

      .row {
        &__cell {
          border-right: $table-column-border;
          padding: 10px 15px;

          &:not(&--item) {
            flex-grow: 1;
            padding: 10px 0;
          }

          &:nth-last-of-type(1) {
            border-right: none;
          }

          &--header {
            display: flex;
            flex-direction: column;
            padding: 0;
            height: $table-row-header-height;
          }

          &--item {
            width: $table-cell-item-width;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          &--day {
            position: relative;
            cursor: pointer;

            &:hover {
              background-color: var(--active);

              &::before {
                border: 1px solid var(--primary);
              }
            }

            &::before {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              border: 1px solid transparent;
            }
          }

          .cell {
            &__day-name,
            &__day-date {
              margin: 0;
              font-weight: 500;
              color: var(--greyed);
            }

            &__day-name {
              font-size: 12px;
            }

            &__day-date {
              font-size: 11px;
            }

            &__reservation {
              position: absolute;
              top: $table-reservation-margin-y;
              bottom: $table-reservation-margin-y;
              right: -1px;
              left: -1px;
              z-index: 1;
              background-color: var(--reservations-grid-reservation-confirmed);

              &:hover {
                //background-color: red;
              }

              &--start {
                left: 53%;
                border-bottom-left-radius: $table-reservation-radius;
                border-top-left-radius: $table-reservation-radius;
              }

              &--finish {
                right: 53%;
                border-bottom-right-radius: $table-reservation-radius;
                border-top-right-radius: $table-reservation-radius;
              }

              .reservation {
                position: relative;

                &__actions {
                  position: absolute;
                  top: 50%;
                  right: 0;
                  transform: translateY(-50%);
                  display: flex;

                  .actions {
                    &__button {
                      .mat-icon {
                        color: var(--reservations-grid-reservation-icon);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.actions__menu {
  .mat-menu-content {
    padding: 0;
  }

  .mat-menu-item {
    line-height: 32px;
    height: 32px;

    &.menu__button--warn {
      border-top: $table-reservation-menu-warn-border;
    }

    .button__icon {
      $size-icon: 17px;

      font-size: $size-icon;
      width: $size-icon;
      height: $size-icon;
      line-height: $size-icon;
    }

    .button__text {
      font-size: 13px;

      &--warn {
        color: var(--warn);
        font-weight: 500;
      }
    }
  }
}
