<div class="pt-4">
  <div class="row">
    <dl class="col-4 breed-details__dl cmn-dl">
      <dt class="breed-details__dt cmn-dt">Marka</dt>
      <dd class="breed-details__dd cmn-dd">{{ (carDetailsItems$ | async)?.brand }}</dd>
    </dl>

    <dl class="col-4 breed-details__dl cmn-dl">
      <dt class="breed-details__dt cmn-dt">Model</dt>
      <dd class="breed-details__dd cmn-dd">{{ (carDetailsItems$ | async)?.model }}</dd>
    </dl>

    <dl class="col-4 breed-details__dl cmn-dl">
      <dt class="breed-details__dt cmn-dt">Wartość</dt>
      <dd class="breed-details__dd cmn-dd">{{ (carDetailsItems$ | async)?.valueOfCar }}</dd>
    </dl>
  </div>
</div>
