<app-page-content-template [maxWidth]="1000">
  <h1>Samochody</h1>
  <mat-divider></mat-divider>

  <div class="d-flex justify-content-end py-3">
    <button mat-raised-button color="primary" (click)="openAddCarDialog()" class="cmn-btn">
      Dodaj samochód
      <mat-icon class="ml-1">add</mat-icon>
    </button>
  </div>

  <div class="mt-3">
    <button mat-stroked-button color="primary" (click)="this.snackbarService.openBase('Pzykładowy komunikat bazowy')" class="cmn-btn mr-2">
      Base
    </button>

    <button mat-stroked-button color="primary" (click)="this.snackbarService.openFail('Pzykładowy komunikat błędu')" class="cmn-btn mr-2">
      Fail
    </button>

    <button mat-stroked-button color="primary" (click)="this.snackbarService.openInfo('Pzykładowy komunikat informacyjny')" class="cmn-btn mr-2">
      Info
    </button>

    <button mat-stroked-button color="primary" (click)="this.snackbarService.openSuccess('Pzykładowy komunikat sukcesu')" class="cmn-btn mr-2">
      Success
    </button>

    <button mat-stroked-button color="primary" (click)="this.snackbarService.openWarning('Pzykładowy komunikat ostrzeżenia')" class="cmn-btn mr-2">
      Warning
    </button>
  </div>

  <app-cars-table></app-cars-table>
</app-page-content-template>
