<h1 mat-dialog-title>
  {{ data?.title ? data?.title : 'Potwierdzenie' }}
</h1>

<div mat-dialog-content>
  <p>{{ data?.message ? data?.message : 'Czy jesteś pewien, że chcesz wykonać tę akcję?' }}</p>
</div>

<div mat-dialog-actions align="end">
  <button
    mat-stroked-button
    (click)="onDismiss()"
    [disabled]="(data?.loading$ | async)"
  >
    {{ data?.dismissLabel ? data?.dismissLabel : 'Anuluj' }}
  </button>

  <app-button-loading
    color="warn"
    [text]="data?.confirmLabel ? data?.confirmLabel : 'Potwierdź'"
    [disabled]="(data?.loading$ | async)"
    [isLoading]="(data?.loading$ | async)"
    [action]="data.confirmed">
  </app-button-loading>
</div>
