.table__loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading__text {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: 500;
  color: var(--primary);
}
