@mixin mat-table-columns($columns) {
  .mat-column- {
    @each $colName, $props in $columns {

      $width: map-get($props, 'width');

      &#{$colName} {
        flex: $width;
        max-width: $width;
        min-width: $width;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @if map-has-key($props, 'color') {
          color: map-get($props, 'color');
        }
      }
    }
  }
}
