/* Custom colors pallete
 *
 * You can add your custom colors pallete like in example below
 * Use this page to generate custom colors pallete:
 *  >> http://mcg.mbitson.com/#!?mcgpalette0=%233f51b5 <<
 *
 */

$md-navy: (
  50: #e3e4e6,
  100: #b9bcc1,
  200: #8a8f98,
  300: #5b626e,
  400: #37404f,
  500: #141e30,
  600: #121a2b,
  700: #0e1624,
  800: #0b121e,
  900: #060a13,
  A100: #557dff,
  A200: #2256ff,
  A400: #0038ee,
  A700: #0032d5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
