<h1 mat-dialog-title>
  {{ isAddMode() ? 'Dodawanie przedmiotu' : 'Edycja przedmiotu' }}
</h1>

<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill" class="w-100 mb-2">
      <mat-label>Nazwa</mat-label>
      <input
        matInput
        required
        cdkFocusInitial
        formControlName="name"
        placeholder="np. Apartament nr 1 z balkonem">
      <mat-hint>Podana wartość będzie reprezentować ten przedmiot w systemie</mat-hint>
      <mat-error *ngIf="form.get('name')?.value.length > 45 && !form.get('name')?.hasError('required')">
        Pole musi mieć <strong>maksymalnie 45 znaków</strong>
      </mat-error>
      <mat-error *ngIf="form.get('name')?.value.length < 2 && !form.get('name')?.hasError('required')">
        Pole musi mieć <strong>co najmniej 2 znaki</strong>
      </mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        Pole <strong>jest wymagane</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-2">
      <mat-label>Cena za dobę</mat-label>
      <input
        matInput
        required
        type="number"
        formControlName="pricePerDay"
        placeholder="np. 300">
      <span matSuffix>zł</span>
      <mat-hint>Dla każdej rezerwacji będzie można później ręcznie modyfikować cenę</mat-hint>
      <mat-error *ngIf="form.get('pricePerDay')?.value < 0 && !form.get('pricePerDay')?.hasError('required')">
        Pole musi mieć wartość <strong>większą lub równą 0</strong>
      </mat-error>
      <mat-error *ngIf="form.get('pricePerDay')?.hasError('required')">
        Pole <strong>jest wymagane</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-2">
      <mat-label>Grupa</mat-label>
      <mat-select required formControlName="groupId">
        <mat-option
          *ngFor="let group of (dictionaryGroupsItems$ | async)"
          [value]="group.id">
          {{ group.name }}
        </mat-option>
      </mat-select>
      <mat-hint>Do tej grupy będzie przypisany dany przedmiot</mat-hint>
    </mat-form-field>

    <section class="w-100 my-3">
      <mat-checkbox formControlName="isActive" color="primary">Czy przedmiot jest aktywny?</mat-checkbox>
    </section>

    <div mat-dialog-actions class="d-flex justify-content-end m-0 p-0">
      <button
        mat-stroked-button
        mat-dialog-close
        type="button"
        color="primary"
        (click)="closeDialog()">
        Anuluj
      </button>

      <app-button-loading
        color="primary"
        [text]="isAddMode() ? 'Dodaj' : 'Edytuj'"
        [disabled]="!form.valid || !form.dirty || (itemAddLoading$ | async) || (itemUpdateLoading$ | async)"
        [isLoading]="(itemAddLoading$ | async) || (itemUpdateLoading$ | async)">
      </app-button-loading>
    </div>
  </form>
</div>
