@import "./src/styles/variables";

.reservation {
  &__summary {
    .summary {
      &__section {
        margin-bottom: 15px;

        .section {
          &__title {
            .title {
              &__text {
                color: var(--primary);
                font-weight: 600;
                font-size: 14px;
                margin-bottom: 10px;
              }
            }
          }

          &__content {
            .content {
              &__info {
                display: flex;
                align-items: center;

                .info {
                  &__icon {
                    color: var(--primary);
                    $mat-icon-size: 16px;

                    font-size: $mat-icon-size;
                    height: $mat-icon-size;
                    width: $mat-icon-size;
                  }

                  &__text {
                    margin-left: 10px;
                    margin-bottom: 0;
                    font-size: 13px;
                  }

                  &__table {
                    border-spacing: 0;
                    width: 100%;

                    .table {
                      &__row {
                        &:nth-last-of-type(1) .row__cell {
                          border-bottom: none;
                        }

                        .row {
                          &__cell {
                            padding: 2px 10px;
                            border-right: 1px solid var(--border);
                            border-bottom: 1px solid var(--border);
                            font-size: 13px;

                            &:nth-last-of-type(1) {
                              border-right: none;
                            }

                            &:not(&--header) {
                              font-weight: 600;
                            }

                            &--header {
                              width: 170px;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
