<div mat-dialog-title class="mat-dialog-title mb-2">
  <h1 class="m-0">
    {{ isAddMode() ? 'Dodawanie rezerwacji' : 'Edycja rezerwacji' }}
  </h1>

  <app-error-handler
    [errorMessage$]="isAddMode()
       ? (reservationAddError$ | async)?.message
       : (reservationUpdateError$ | async)?.message"
    [errorDetailsList$]="isAddMode()
       ? (reservationAddError$ | async)?.conflicts
       : (reservationUpdateError$ | async)?.conflicts"
    [isExpanded]="true"
    class="mt-2"
  ></app-error-handler>
</div>

<div mat-dialog-content class="mat-dialog-content">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-vertical-stepper [linear]="isAddMode()" class="stepper" #stepper>

      <!-- STEP 1 - Form General -->
      <mat-step [stepControl]="formGeneral">
        <form [formGroup]="formGeneral">
          <ng-template matStepLabel>Podstawowe informacje</ng-template>

          <div class="row no-gutters">
            <div class="col-7">

              <mat-form-field appearance="fill" class="w-100 mb-2">
                <mat-label>Data rezerwacji</mat-label>
                <mat-date-range-input [formGroup]="formGeneralDateRange" [rangePicker]="rangePicker">
                  <input matStartDate formControlName="start" placeholder="Przyjazd">
                  <input matEndDate formControlName="end" placeholder="Odjazd">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #rangePicker>
                  <mat-date-range-picker-actions>
                    <button mat-button matDateRangePickerCancel>Anuluj</button>
                    <button mat-raised-button color="primary" matDateRangePickerApply>Zastosuj</button>
                  </mat-date-range-picker-actions>
                </mat-date-range-picker>

                <mat-error *ngIf="form.get('start')?.hasError('matStartDateInvalid')">Błędna data początkowa</mat-error>
                <mat-error *ngIf="form.get('end')?.hasError('matEndDateInvalid')">Błędna data końcowa</mat-error>
                <mat-error *ngIf="formGeneralDateRange.get('start')?.hasError('required') || formGeneralDateRange.get('end')?.hasError('required')">
                  Pole <strong>jest wymagane</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-5">
              <mat-form-field appearance="fill" class="w-100 mb-2">
                <mat-label>Cena pobytu</mat-label>
                <input
                  matInput
                  required
                  type="number"
                  formControlName="priceTotal"
                  placeholder="np. 300">
                <span matSuffix>zł</span>
                <button
                  mat-icon-button
                  matSuffix
                  color="primary"
                  class="ml-2"
                  type="button"
                  (click)="toggleFormGeneralIsEditingPriceTotal()">
                  <mat-icon>edit</mat-icon>
                </button>
                <mat-hint>Całkowita cena pobytu za {{ getDateRange() }} dni</mat-hint>
                <mat-error *ngIf="form.get('pricePerDay')?.value < 0 && !form.get('pricePerDay')?.hasError('required')">
                  Pole musi mieć wartość <strong>większą lub równą 0</strong>
                </mat-error>
                <mat-error *ngIf="form.get('pricePerDay')?.hasError('required')">
                  Pole <strong>jest wymagane</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field appearance="fill" class="w-100 mb-2">
            <mat-label>Grupa</mat-label>
            <mat-select formControlName="group" [compareWith]="objectComparisonFunction">
              <mat-option
                *ngFor="let group of (dictionaryGroupsItems$ | async)"
                [value]="group">
                {{ group.name }}
              </mat-option>
            </mat-select>
            <mat-hint>Po wybraniu, poniżej wyświetlą się przedmioty tylko z tej grupy</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100 mb-2">
            <mat-label>
              <div class="d-flex align-items-center">
                <span class="flex-grow-1">{{ (dictionaryItemsLoading$ | async) ? 'Ładowanie...' : 'Przedmiot' }}</span>
                <mat-spinner *ngIf="(dictionaryItemsLoading$ | async)" diameter="20"></mat-spinner>
              </div>
            </mat-label>
            <mat-select formControlName="item" [compareWith]="objectComparisonFunction">
              <mat-option
                *ngFor="let item of (dictionaryItemsItems$ | async)"
                [value]="item">
                {{ item.name }}
              </mat-option>
            </mat-select>

            <mat-hint>Dokona rezerwacji wybranego przedmiotu</mat-hint>
          </mat-form-field>

          <div>
            <button mat-button matStepperNext>Dalej</button>
          </div>
        </form>
      </mat-step>

      <!-- STEP 2 - Form Client -->
      <mat-step [stepControl]="formClient" label="Fill out your address">
        <form [formGroup]="formClient">
          <ng-template matStepLabel>Dane rezerwującego</ng-template>

          <div class="row no-gutters">
            <div class="col-5">
              <mat-form-field appearance="fill" class="w-100 mb-2">
                <mat-label>Imie</mat-label>
                <input
                  matInput
                  formControlName="name">
                <mat-error *ngIf="form.get('name')?.value.length < 3 && !form.get('name')?.hasError('required')">
                  Imie musi mieć <strong>min. 3 znaki</strong>
                </mat-error>
                <mat-error *ngIf="form.get('name')?.value.length > 25 && !form.get('name')?.hasError('required')">
                  Imie musi mieć <strong>max. 25 znaków</strong>
                </mat-error>
                <mat-error *ngIf="form.get('name')?.hasError('required')">
                  Pole <strong>jest wymagane</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-7">
              <mat-form-field appearance="fill" class="w-100 mb-2">
                <mat-label>Nazwisko</mat-label>
                <input
                  matInput
                  formControlName="surname">
                <mat-error *ngIf="form.get('surname')?.value.length < 3 && !form.get('surname')?.hasError('required')">
                  Nazwisko musi mieć <strong>min. 3 znaki</strong>
                </mat-error>
                <mat-error *ngIf="form.get('surname')?.value.length > 25 && !form.get('surname')?.hasError('required')">
                  Nazwisko musi mieć <strong>max. 25 znaków</strong>
                </mat-error>
                <mat-error *ngIf="form.get('surname')?.hasError('required')">
                  Pole <strong>jest wymagane</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-5">
              <mat-form-field appearance="fill" class="w-100 mb-2">
                <mat-label>Numer telefonu</mat-label>
                <input
                  matInput
                  formControlName="phone">
              </mat-form-field>
            </div>

            <div class="col-7">
              <mat-form-field appearance="fill" class="w-100 mb-2">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  formControlName="email">
              </mat-form-field>
            </div>
          </div>

          <div>
            <button mat-button matStepperPrevious>Wstecz</button>
            <button mat-button matStepperNext>Dalej</button>
          </div>
        </form>
      </mat-step>

      <!-- STEP 3 - Form Advance -->
      <mat-step>
        <ng-template matStepLabel>Zaliczka</ng-template>

        <form [formGroup]="formAdvance">
          <section class="w-100 my-3">
            <mat-checkbox formControlName="isRequired" color="primary">
              <p class="checkbox__desc desc">Czy zaliczka jest wymagana? <span class="desc__accent ml-2">{{ getCheckboxStatus(formAdvance.get('isRequired')) }}</span></p>
            </mat-checkbox>
          </section>

          <ng-container *ngIf="formAdvance.get('isRequired')?.value">
            <div class="row no-gutters">
              <div class="col-6">
                <mat-form-field appearance="fill" class="w-100 mb-2">
                  <mat-label>Kwota zaliczki</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="amount"
                    placeholder="np. 300">
                  <span matSuffix>zł ({{ getPercentDisplayValue(formAdvance) }})</span>
                  <mat-error *ngIf="formAdvance.get('amount')?.value < 0 && !formAdvance.get('amount')?.hasError('required')">
                    Pole musi mieć wartość <strong>większą lub równą 0</strong>
                  </mat-error>
                  <mat-error *ngIf="formAdvance.get('amount')?.hasError('required')">
                    Pole <strong>jest wymagane</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-6">
                <mat-form-field appearance="fill" class="w-100 mb-2">
                  <mat-label>Wpłacona zaliczka</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="paidAmount"
                    placeholder="np. 300">
                  <span matSuffix>zł</span>
                  <mat-error *ngIf="formAdvance.get('paidAmount')?.value < 0 && !formAdvance.get('paidAmount')?.hasError('required')">
                    Pole musi mieć wartość <strong>większą lub równą 0</strong>
                  </mat-error>
                  <mat-error *ngIf="formAdvance.get('paidAmount')?.hasError('required')">
                    Pole <strong>jest wymagane</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12">
                <mat-slider
                  color="primary"
                  class="w-100"
                  formControlName="amountPercent"
                  thumbLabel="true"
                  [max]="100"
                  [min]="0"
                  [step]="1">
                </mat-slider>
              </div>
            </div>
          </ng-container>

          <div>
            <button mat-button matStepperPrevious>Wstecz</button>
            <button mat-button matStepperNext>Dalej</button>
          </div>
        </form>
      </mat-step>

      <!-- STEP 4 - Form Discount -->
      <mat-step>
        <ng-template matStepLabel>Rabat</ng-template>

        <form [formGroup]="formDiscount">
          <section class="w-100 my-3">
            <mat-checkbox formControlName="isRequired" color="primary">
              <p class="checkbox__desc desc">Czy chcesz naliczyć rabat? <span class="desc__accent ml-2">{{ getCheckboxStatus(formDiscount.get('isRequired')) }}</span></p>
            </mat-checkbox>
          </section>

          <ng-container *ngIf="formDiscount.get('isRequired')?.value">
            <div class="row no-gutters">
              <div class="col-6">
                <mat-form-field appearance="fill" class="w-100 mb-2">
                  <mat-label>Wysokość rabatu</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="amount"
                    placeholder="np. 300">
                  <span matSuffix>zł ({{ getPercentDisplayValue(formDiscount) }})</span>
                  <mat-error *ngIf="formDiscount.get('amount')?.value < 0 && !formDiscount.get('amount')?.hasError('required')">
                    Pole musi mieć wartość <strong>większą lub równą 0</strong>
                  </mat-error>
                  <mat-error *ngIf="formDiscount.get('amount')?.hasError('required')">
                    Pole <strong>jest wymagane</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-6">
                <mat-form-field appearance="fill" class="w-100 mb-2">
                  <mat-label>Cena pobytu z rabatem</mat-label>
                  <input
                    matInput
                    readonly
                    [value]="getPriceTotalWithDiscount()">
                  <span matSuffix>zł ({{ this.formGeneral.get('priceTotal')?.value }} zł)</span>
                  <mat-hint>Kwota tylko do podglądu</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <mat-slider
              color="primary"
              class="w-100"
              formControlName="amountPercent"
              thumbLabel="true"
              [max]="100"
              [min]="0"
              [step]="1">
            </mat-slider>
          </ng-container>

          <div>
            <button mat-button matStepperPrevious>Wstecz</button>
            <button mat-button matStepperNext>Dalej</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Podsumowanie</ng-template>
        <app-reservation-summary
          [dateStart]="formGeneralDateRange.get('start')?.value"
          [dateEnd]="formGeneralDateRange.get('end')?.value"
          [pricePerDay]="(itemDetailsItems$ | async)?.pricePerDay"
          [groupName]="formGeneral.get('group')?.value?.name"
          [itemName]="formGeneral.get('item')?.value?.name"
          [priceTotal]="formGeneral.get('priceTotal')?.value"
          [name]="formClient.get('name')?.value"
          [surname]="formClient.get('surname')?.value"
          [email]="formClient.get('email')?.value"
          [phone]="formClient.get('phone')?.value"
          [isDiscount]="formDiscount.get('isRequired')?.value"
          [discount]="formDiscount.get('amount')?.value"
          [discountPercent]="formDiscount.get('amountPercent')?.value"
          [isAdvance]="formAdvance.get('isRequired')?.value"
          [advance]="formAdvance.get('amount')?.value"
          [advancePercent]="formAdvance.get('amountPercent')?.value"
        ></app-reservation-summary>

        <div>
          <button mat-button matStepperPrevious>Wstecz</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>

    <div mat-dialog-actions class="d-flex justify-content-end mb-1 p-0">
      <button
        mat-stroked-button
        mat-dialog-close
        type="button"
        color="primary"
        (click)="closeDialog()">
        Anuluj
      </button>

      <app-button-loading
        color="primary"
        [text]="isAddMode() ? 'Dodaj' : 'Edytuj'"
        [disabled]="!form.valid || !form.dirty || (reservationAddLoading$ | async) || (reservationUpdateLoading$ | async)"
        [isLoading]="(reservationAddLoading$ | async) || (reservationUpdateLoading$ | async)">
      </app-button-loading>
    </div>
  </form>
</div>
