@import "~@angular/material/theming";

@include mat-core();

// Palettes
@import "./palettes/navy-palette";

// Themes
@import "./themes/light-theme";
@import "./themes/dark-theme";

// Core classes
.light-theme {
  @include angular-material-theme($light-theme);
  $primary: mat-color($light-theme-primary);
  $accent: mat-color($light-theme-accent);
  $warn: mat-color($light-theme-warn);

  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$warn};
  --light: rgb(255, 255, 255);
  --active: rgba(0, 0, 0, 0.04);

  --gray: rgb(131, 131, 131);
  --error: rgb(210, 62, 62);
  --border: rgba(0, 0, 0, 0.12);
  --greyed: rgba(0, 0, 0, 0.54);

  // backgrounds
  --background: rgb(250, 250, 250);

  // sidenav
  --sidenav-title: #{$primary};
  --sidenav-item-icon: #{$primary};
  --sidenav-item-text: #{$primary};

  // error handler
  --error-handler-bg: var(--error);
  --error-handler-text: rgb(234, 234, 234);
  --error-handler-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

  // table
  --table-error-bar-bg: var(--error);
  --table-error-bar-text: rgb(234, 234, 234);
  --table-error-bar-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  --table-error-content-icon: #{$primary};
  --table-error-content-text: var(--gray);

  --table-empty-content-icon: #{$primary};
  --table-empty-content-text: #{$primary};

  // snackbar
  --snackbar-base-bg: rgb(240, 236, 232);
  --snackbar-base-strong: rgb(65, 65, 65);

  --snackbar-fail-bg: rgb(249, 225, 220);
  --snackbar-fail-strong: rgb(146, 13, 10);

  --snackbar-info-bg: rgb(223, 231, 239);
  --snackbar-info-strong: rgb(12, 58, 119);

  --snackbar-success-bg: rgb(223, 241, 217);
  --snackbar-success-strong: rgb(22, 93, 24);

  --snackbar-warning-bg: rgb(249, 234, 216);
  --snackbar-warning-strong: rgb(127, 77, 9);

  --snackbar-text: rgb(33, 33, 33);

  // footer
  --footer-text: rgb(255, 255, 255);

  // reservations grid
  --reservations-grid-reservation-confirmed: rgb(223, 231, 239);
}

.dark-theme {
  @include angular-material-theme($dark-theme);
  $primary: mat-color($dark-theme-primary);
  $accent: mat-color($dark-theme-accent);
  $warn: mat-color($dark-theme-warn);

  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$warn};
  --light: rgba(0, 0, 0);
  --active: rgba(255, 255, 255, 0.04);

  --gray: rgb(201, 201, 201);
  --error: rgb(210, 62, 62);
  --border: rgba(255, 255, 255, 0.12);
  --greyed: rgba(255, 255, 255, 0.7);

  // backgrounds
  --background: rgb(48, 48, 48);

  // sidenav
  --sidenav-title: #{$primary};
  --sidenav-item-icon: #{$primary};
  --sidenav-item-text: rgb(255, 255, 255);

  // error handler
  --error-handler-bg: var(--error);
  --error-handler-text: rgb(234, 234, 234);
  --error-handler-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

  // table
  --table-error-bar-bg: var(--error);
  --table-error-bar-text: rgb(234, 234, 234);
  --table-error-bar-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  --table-error-content-icon: #{$primary};
  --table-error-content-text: var(--gray);

  // snackbar
  --snackbar-base-bg: rgb(240, 236, 232);
  --snackbar-base-strong: rgb(65, 65, 65);

  --snackbar-fail-bg: rgb(249, 225, 220);
  --snackbar-fail-strong: rgb(146, 13, 10);

  --snackbar-info-bg: rgb(223, 231, 239);
  --snackbar-info-strong: rgb(12, 58, 119);

  --snackbar-success-bg: rgb(223, 241, 217);
  --snackbar-success-strong: rgb(22, 93, 24);

  --snackbar-warning-bg: rgb(249, 234, 216);
  --snackbar-warning-strong: rgb(127, 77, 9);

  --snackbar-text: rgb(33, 33, 33);

  // footer
  --footer-text: rgb(0, 0, 0);

  // reservations grid
  --reservations-grid-reservation-confirmed: rgb(223, 231, 239);
}
