<div class="sidenav pt-5">
  <app-current-user-info></app-current-user-info>

  <mat-nav-list role="sidenav__list" routerLinkActive="active" class="mt-3">
    <mat-list-item
      *ngFor="let sidenavItem of sidenavList"
      [routerLinkActiveOptions]="sidenavItem.path === '' ? {exact: true} : {exact: false}"
      routerLinkActive="active"
      class="sidenav__item"
    >
      <a [routerLink]="sidenavItem.path" class="sidenav__link">
        <mat-icon class="sidenav__icon mr-3">{{ sidenavItem.icon }}</mat-icon>
        <span>{{ sidenavItem.name }}</span>
      </a>
    </mat-list-item>
  </mat-nav-list>
</div>
