<mat-toolbar color="primary" class="toolbar">
<!--  <button mat-icon-button (click)="drawer.toggle()" aria-label="Menu">-->
  <button mat-icon-button (click)="toggleSidenav()" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="ml-3">System rezerwacji</span>
  <span class="toolbar__spacer"></span>

  <mat-slide-toggle
    [checked]="checked"
    (change)="changeTheme()"
  ></mat-slide-toggle>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="ml-3">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Wyloguj się</span>
    </button>
  </mat-menu>
</mat-toolbar>
