<form [formGroup]="form" class="form">
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>
      <div class="d-flex align-items-center">
        <span class="flex-grow-1">{{ (dictionaryGroupsLoading$ | async) ? 'Ładowanie...' : 'Grupa' }}</span>
        <mat-spinner *ngIf="(dictionaryGroupsLoading$ | async)" diameter="20"></mat-spinner>
      </div>
    </mat-label>
    <mat-select (selectionChange)="optionChanged($event)" formControlName="selectedGroups" multiple>
      <mat-option
        *ngFor="let group of (dictionaryGroupsItems$ | async)"
        [value]="group.id">
        {{ group.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
