<app-table-loading *ngIf="(driversListLoading$ | async)"></app-table-loading>
<ng-container *ngIf="!(driversListLoading$ | async)">
    <table mat-table [dataSource]="dataSource" *ngIf="(driversListItems$ | async) as dataSource" class="w-100">
    
        <!-- Imie Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Imie </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Nazwisko Column -->
        <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef> Nazwisko </th>
            <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
        </ng-container>
    
        <!-- Pesel Column -->
        <ng-container matColumnDef="pesel">
            <th mat-header-cell *matHeaderCellDef> Pesel </th>
            <td mat-cell *matCellDef="let element"> {{element.pesel}} </td>
        </ng-container>
    
        <!-- Data Zatrudnienia Column -->
        <ng-container matColumnDef="hireDate">
            <th mat-header-cell *matHeaderCellDef> Data zatrudnienia </th>
            <td mat-cell *matCellDef="let element"> {{element.hireDate | date: 'yyyy-MM-dd'}} </td>
        </ng-container>
    
        <!-- Data Zwolnienia Column -->
        <ng-container matColumnDef="firedDate">
            <th mat-header-cell *matHeaderCellDef> Data zwolnienia </th>
            <td mat-cell *matCellDef="let element"> {{element.firedDate | date: 'yyyy-MM-dd'}} </td>
        </ng-container>
    
        <!-- Akcje Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="editDriver(element)" aria-label="Edytuj kierowcę">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="delDriver(element.id)" aria-label="Usuń kierowcę" class="ml-1">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-container>