<h1 mat-dialog-title>
    {{isAddMode() ? 'Dodawanie kierowcy' : 'Edycja kierowcy'}}
</h1>

<div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row no-gutters">
            <div class="col-6 pr-2">
                <mat-form-field appearance="fill" class="w-100 mb-2">
                    <mat-label>Podaj imię</mat-label>
                    <input
                        matInput
                        required
                        cdkFocusInitial
                        formControlName="name"
                        placeholder="Podaj imię">
                    <mat-hint>Podaj imię</mat-hint>
                    <mat-error *ngIf="form.controls.name.value.length > 20 && !form.controls.name.hasError('required')">
                        Pole musi mieć <strong>maksymalnie 20 znaków</strong>
                    </mat-error>
                    <mat-error *ngIf="form.controls.name.value.length < 3 && !form.controls.name.hasError('required')">
                        Pole musi mieć <strong>co najmniej 3 znaki</strong>
                    </mat-error>
                    <mat-error *ngIf="form.controls.name.hasError('required')">
                        Pole <strong>jest wymagane</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-6 pl-2">
                <mat-form-field appearance="fill" class="w-100 mb-2">
                    <mat-label>Podaj nazwisko</mat-label>
                    <input
                        matInput
                        required
                        cdkFocusInitial
                        formControlName="surname"
                        placeholder="Podaj nazwisko">
                    <mat-hint>Podaj nazwisko</mat-hint>
                    <mat-error *ngIf="form.controls.surname.value.length > 20 && !form.controls.surname.hasError('required')">
                        Pole musi mieć <strong>maksymalnie 20 znaków</strong>
                    </mat-error>
                    <mat-error *ngIf="form.controls.surname.value.length < 3 && !form.controls.surname.hasError('required')">
                        Pole musi mieć <strong>co najmniej 3 znaki</strong>
                    </mat-error>
                    <mat-error *ngIf="form.controls.surname.hasError('required')">
                        Pole <strong>jest wymagane</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <mat-form-field appearance="fill" class="w-100 mb-2">
            <mat-label>Podaj pesel</mat-label>
            <input
                matInput
                required
                [textMask]="{ mask: peselMask, guide: false }"
                formControlName="pesel"
                placeholder="Podaj pesel">
            <mat-hint>Podaj pesel</mat-hint>
            <mat-error *ngIf="form.controls.pesel.value.length !== 1 && !form.controls.pesel.hasError('required')">
                Pole musi mieć <strong>11 znaków</strong>
            </mat-error>
            <mat-error *ngIf="form.controls.pesel.hasError('required')">
                Pole <strong>jest wymagane</strong>
            </mat-error>
        </mat-form-field>

        <div class="row no-gutters">
            <div class="col-6 pr-2">
                <mat-form-field appearance="fill" class="w-100 mb-2">
                    <mat-label>Podaj datę zatrudnienia</mat-label>
                    <input
                        matInput
                        required
                        formControlName="hireDate"
                        [matDatepicker]="hireDatePicker">
                    <mat-datepicker-toggle matSuffix [for]="hireDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #hireDatePicker></mat-datepicker>
                    <mat-hint>Podaj datę zatrudnienia</mat-hint>
                    <mat-error *ngIf="form.controls.hireDate.hasError('required')">
                        Pole <strong>jest wymagane</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-6 pl-2">
                <mat-form-field appearance="fill" class="w-100 mb-2">
                    <mat-label>Podaj datę zwolnienia</mat-label>
                    <input
                        matInput
                        formControlName="firedDate"
                        [min]="form.controls.hireDate.value"
                        [matDatepicker]="firedDatePicker">
                    <mat-datepicker-toggle matSuffix [for]="firedDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #firedDatePicker></mat-datepicker>
                    <mat-hint>Podaj datę zwolnienia</mat-hint>
                </mat-form-field>
            </div>
        </div>

        <div mat-dialog-actions class="d-flex justify-content-end m-0 p-0">
            <button mat-stroked-button mat-dialog-close color="primary">Anuluj</button>
            <button
                mat-raised-button
                color="primary"
                [disabled]="!form.valid || !form.dirty || (driverAddLoading$ | async) || (driverUpdateLoading$ | async)"
                type="submit"
                class="ml-2"
            >
                {{isAddMode() ? 'Dodaj' : 'Edytuj'}}
                <mat-icon *ngIf="(driverAddLoading$ | async) || (driverUpdateLoading$ | async)" class="ml-1">
                    <mat-spinner diameter="20"></mat-spinner>
                </mat-icon>
            </button>
        </div>
    </form>
</div>