$light-theme-primary: mat-palette($md-navy, 400);
$light-theme-accent: mat-palette($mat-orange, 700);
$light-theme-warn: mat-palette($mat-red);

$light-theme: mat-light-theme(
  $light-theme-primary,
  $light-theme-accent,
  $light-theme-warn
);
