<app-auth-wrapper>

  <h2 class="cmn-tx-primary">Zarejestruj się</h2>
  <mat-divider></mat-divider>

  <app-error-handler [errorMessage$]="(authRegisterError$ | async)?.message" class="pt-2"></app-error-handler>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" [class]="(authRegisterError$ | async) ? 'pt-2' : 'pt-4'">

    <div class="row no-gutters">

      <div class="col-5">
        <mat-form-field appearance="fill" class="w-100 mb-2">
          <mat-label>Imie</mat-label>
          <input
            matInput
            formControlName="name">
          <mat-error *ngIf="form.get('name')?.value.length < 3 && !form.get('name')?.hasError('required')">
            Imie musi mieć <strong>min. 3 znaki</strong>
          </mat-error>
          <mat-error *ngIf="form.get('name')?.value.length > 25 && !form.get('name')?.hasError('required')">
            Imie musi mieć <strong>max. 25 znaków</strong>
          </mat-error>
          <mat-error *ngIf="form.get('name')?.hasError('required')">
            Pole <strong>jest wymagane</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-7">
        <mat-form-field appearance="fill" class="w-100 mb-2">
          <mat-label>Nazwisko</mat-label>
          <input
            matInput
            formControlName="surname">
          <mat-error *ngIf="form.get('surname')?.value.length < 3 && !form.get('surname')?.hasError('required')">
            Nazwisko musi mieć <strong>min. 3 znaki</strong>
          </mat-error>
          <mat-error *ngIf="form.get('surname')?.value.length > 25 && !form.get('surname')?.hasError('required')">
            Nazwisko musi mieć <strong>max. 25 znaków</strong>
          </mat-error>
          <mat-error *ngIf="form.get('surname')?.hasError('required')">
            Pole <strong>jest wymagane</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field appearance="fill" class="w-100 mb-2">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email">
      <mat-error *ngIf="form.get('email')?.hasError('email')">
        Podany email jest <strong>nieprawidłowy</strong>
      </mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('required')">
        Pole <strong>jest wymagane</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-2">
      <mat-label>Hasło</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'">
      <button
        mat-icon-button
        matSuffix
        color="primary"
        type="button"
        (click)="togglePasswordVisibility()">
        <mat-icon>{{setPasswordVisibilityIcon()}}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password')?.hasError('required')">
        Pole <strong>jest wymagane</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-2">
      <mat-label>Potwierdź hasło</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        [type]="hide ? 'password' : 'text'">
      <button
        mat-icon-button
        matSuffix
        color="primary"
        type="button"
        (click)="togglePasswordVisibility()">
        <mat-icon>{{setPasswordVisibilityIcon()}}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password')?.hasError('required')">
        Pole <strong>jest wymagane</strong>
      </mat-error>
      <mat-error *ngIf="form.get('confirmPassword')?.hasError('matching')">
        Hasło <strong>musi pasować</strong>
      </mat-error>
    </mat-form-field>

    <p class="cmn-tx-small cmn-tx-gray">Masz już konto? <a [routerLink]="goToLogin()" class="cmn-tx-primary">Zaloguj się</a></p>

    <div class="d-flex justify-content-end m-0 p-0">
      <app-button-loading
        color="primary"
        text="Zarejestruj się"
        [disabled]="!form.valid || !form.dirty || (authRegisterLoading$ | async)"
        [isLoading]="(authRegisterLoading$ | async)">
      </app-button-loading>
    </div>

  </form>

</app-auth-wrapper>
