<app-page-content-template [maxWidth]="1000">
  <h1>O programie</h1>
  <mat-divider></mat-divider>

  <div class="pt-4">
    <p>Aplikacja internetowa, dostarczająca generyczne rozwiązanie do rezerwacji różnego rodzaju
      przedmiotów.</p>

    <p>System umożliwia administratorowi obiektu (np. hotelu, wypożyczalni samochodów) rejestrowanie
      rezerwacji oraz ich monitorowanie.</p>

    <p>Cały system oprócz systemu zarządzania rezerwacjami, składa się również z prostej strony internetowej,
      która może być umieszczona zupełnie na innej domenie i niezależnie pozycjonowana w przeglądarkach.</p>

    <p>Na stronie internetowej użytkownicy mają możliwość przeglądania oferty przedmiotów możliwych do
      wynajęcia i od razu sprawdzania ich dostępności w danym terminie. Dane o dostępności są pobierane z bazy
      danych poprzez REST API.</p>

    <p>Aplikacja jest oparta na architekturze REST API. Składa się z dwóch, zupełnie niepowiązanych ze sobą części -
      "client" (frontend) i "server" (backend). Część frontendowa jest stworzona we frameworku Angular, natomiast część
      backendowa w Node.js z pomocą frameworka Express.js. Baza danych jest oparta na MySQL i zarządzana za pomocą
      phpMyAdmin.
    </p>
  </div>
</app-page-content-template>
